* {
  box-sizing: border-box;
}

main{
  background-color:#FFFEF8;
}

/* Style pour la modale  */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  overflow: auto;
}

 /* Style pour le contenu de la modale  */ 
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 820px;
  }
  
  .modal-content .deleteBtn{
    border-radius: 0.2rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 6.7rem;
    padding: 0.25rem;
    left: 4.7rem;
  }

  .modal-content .deleteBtn:hover{
    background-color: black;
  }
  
  .modal-content h2{
    margin-top: 2.5rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
  }
  
  .close {
    color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  bottom: 21rem;
  left: 82rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-gallery{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 75%;
  padding-bottom: 4rem;
  border-bottom: #888 solid;
}

img{
  width: 100%;
}

/* Modale ajout de contenu */

.addcontent{
  padding: 1rem;
}

.addcontent > .button{
  font-size: 1.2rem;
  width: 20rem;
  padding: 0.5rem;
  cursor: pointer;
}

.modal_add_photo{
  height:20rem;
}

.close_add_photo{
  left: 24.5rem;
  bottom: 9rem;
}

.fa-arrow-left{
  font-size: 1.5rem;
}

.return_btn{
  position: relative;
  right: 24.5rem;
}

.add_photo_content form{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}  

.form_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add_photo_container{
  width: 420px;
  height: 252px;
  background-color: #E8F1F6;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

.fa-image{
  font-size: 5rem;
  color: #B9C5CC;
}  

label{
  margin:1.5rem 0 0.5rem 0;
}  

form span{
  position: relative;
  top: 1rem;
  border:solid#CBD6DC;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #306685;
  background-color:#CBD6DC;
  cursor: pointer;
}  

.add_photo_container p{
  position: relative;  
  top: 1rem;
  font-size: 10px;
}

.add_photo_container input{
  visibility: hidden;
}  

#imagePreview{
  width: 11rem;
  position: absolute;
  display: none;
  height: 252px;
}  

#addtxt{
  height: 3rem;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 26rem;
}  

#categorySelect{
  background-color: white;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 3rem;
  cursor: pointer;
}  

.btn_container{
  display: flex;
  Margin-top: 3rem;
  border-top: solid #a7a7a7;
}

.add_photo_content .add_btn{
  height: 2.5rem;
	cursor: pointer;
  width: 20rem;
  background-color:#a7a7a7;
  border: none;
  margin-top: 3rem;
}  

.add_btn.valid{
  background-color: #1D6154; 
}  


.form_txt{
  padding-bottom: 4rem;
  border-bottom: #a7a7a7 solid;}

  figure{
    position: relative;
  }







  



